.trade-table {
  margin-top: 50px;
}
.table {
  color: white;
  font-size: 1.5em;
}
.table th {
  color: grey;
  border: none;
}

.row-1 {
  border-radius: 20px;
  margin-top: 20px;
  background-color: #0007;
}
a {
  text-decoration: none;
}
.platform {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.platform:hover {
  color: white;
}
tr {
  margin: 20px;
}
.diff,
.save {
  color: red;
}
tr:nth-child(6) .diff,
tr:nth-child(6) .save {
  color: rgb(61, 198, 193);
}
